## Numeric Types

In [28]:
num1 = 10                # integer
num2 = 3.1416         # float
num3 = 5 - 6j           # complex

### Type checking
   
       `type(object)`
         - Returns the Type of the given object

In [29]:
print(type(num1))
print(type("New Jersey"))

<class 'int'>
<class 'str'>

## Numeric Operations

In [30]:
var1 = 10
var2 = 5

In [31]:
var1 + var2

15

In [32]:
var1 - var2

5

In [33]:
var1 * var2

50

In [34]:
var1 / var2         # Floating Point Division

2.0

In [35]:
var1 //  var2       # Integer Division

2

In [36]:
var1 %  var2

0

## Operator Precedence Rule: PEMDAS

In [37]:
12 - 4 / 3 * 12 % 3 + 100 - 2

109.0

In [38]:
12 - 12 % 3 * 4 / 3 + 100 - 2

110.0

## Dillema in Numeric Operations

In [39]:
1 / 3 + 1 / 3 + 1 / 3    # Output should be 0.99999

1.0

In [40]:
1 / 3 * 3             # Output should be 0.99999

1.0

In [41]:
0.2 * 3               # Output should be 0.6

0.6000000000000001

In [42]:
0.1 + 0.2           # Output should be 0.3

0.30000000000000004

# Sequence Types

### Strings

In [43]:
single = 'This is a single quote string'
double = "This is a double quote string"
triple = """This is a triple quote string""" # -> multiline string, doc string
fstring = f"This is a format string"

In [44]:
print("This is \n A new Line")
print("This is \t A Tab")

This is
 A new Line
This is 	 A Tab

In [45]:
single = 'This is \'single\' quote string'
double = "This is \"double\" quote string"
single, double

("This is 'single' quote string", 'This is "double" quote string')

In [46]:
"""This is treated as a coment"""
triple = """Writing
                A Multiline
                String
            """
print(triple)

Writing
                A Multiline
                String

Accessing elements from a string

In [47]:
string = "The Last of Us"
print(string[0])
print(string[4])
print(string[5])

T
L
a

### Lists

Creating Empty Lists

In [48]:
list_1 = list()
list_2 = []

print(list_1)
print(list_2)

[]
[]

Creating Lists with Values

In [49]:
list_1 = list([1, 2, 3, 4])
list_2 = [10, 20, 30, 40]

print(list_1)
print(list_2)

[1, 2, 3, 4]
[10, 20, 30, 40]

Accessing elements from a  list

In [50]:
print(list_1[0])
print(list_2[3])

1
40

## Tuples

Creating Empty Tuples

In [51]:
tuple_1 = tuple()
tuple_2 = ()

print(tuple_1)
print(tuple_2)

()
()

In [52]:
tuple_3 = tuple((20, 22, 28, 24))
tuple_4 = (11, 22, 33, 44, 55)

print(tuple_3)
print(tuple_4)

(20, 22, 28, 24)
(11, 22, 33, 44, 55)

In [53]:
list_2 = [10, 20, 30, 40]
tuple_4 = (11, 22, 33, 44, 55)

list_2[3] = 55
print(list_2)

[10, 20, 30, 55]

In [54]:
tuple_4[1] = -33

TypeError: 'tuple' object does not support item assignment

In [55]:
values = (44, 27, 11)

In [56]:
a, b, c = values
print(a, b, c)

44 27 11

In [58]:
_, b, c = values
print(b, c)

27 11

In [59]:
values = (44, 27, 11)
val_1, val_2 = values

ValueError: too many values to unpack (expected 2)

In [60]:
val_1, val_2, val_3, val_4 = values

ValueError: not enough values to unpack (expected 4, got 3)

## Type Conversion

Boolean Conversion

In [61]:
print(bool(0))
print(bool("0"))
print(bool(None))
print(bool(""))
print(bool("False"))
print(bool(0.000000000000000001))
print(bool(1 / 3) )
print(bool(1 // 3))

False
True
False
False
True
True
True
False

Integer Conversion

In [62]:
print(int(True))       # 1
print(int(False))      # 0
print(int(0.1441))     # 0
print(int(-42.761))    # -42
# int(64 - 3j)    # *ERROR*
print(int("67"))       # 67
print(int("  431  "))  # 431
print(int(" -33  "))   # -33

1
0
0
-42
67
431
-33

Floating Conversion

In [63]:
print(float(True))          # 1.0
print(float(False))         # 0.0
print(float(12))             # 12.0
print(float(-42))           # -42.0
# float(64 - 3j)             # *ERROR*
print(float("67"))         # 67.0
print(float("  4.31  "))  # 4.31
print(float(" -3.3  "))   # -3.3

1.0
0.0
12.0
-42.0
67.0
4.31
-3.3