## Strings

### Length of Strings

In [78]:
single = 'This is single quote string'
double = "This is double quote string"
triple = """This is triple quote string"""
fmt = f'Example format string'

`len(string)` --> Returns the numbers of characters in a given string

In [79]:
print(len(single))
print(len(double))

27
27

### Indexing

In [80]:
print(single[8])
print(single[-19])

s
s

### Slicing

In [81]:
single = "This is a single quote str"

print(single[0:4])
print(single[10:16])

This
single

In [82]:
print(single[10:16:1])
print(single[10:16:2])
print(single[10:16:3])
print(single[10:16:4])

single
snl
sg
sl

In [83]:
single[15:9:-1]
single[15:9:-2]
single[15:9:-3]
single[15:9:-4]

'ei'

## Format Strings

In [84]:
message_1 = "John Smith whose age is 34 years and height is 6.2 lives in New York"
message_2 = "Anna Brown whose age is 23 years and height is 5.8 lives in Oklahoma"
message_3 = "Antony Blake whoese age is 24 year and height is 4.9 lives in Ohio"

In [85]:
name_1 = "John Smith"
age_1 = 34
height_1 = 6.2
city = "New York"

message_1 = name_1 + " whose age is " + age_1 + " years and height is " + height_1 + " lives in " + city

TypeError: can only concatenate str (not "int") to str

In [86]:
name_1 = "John Smith"
age_1 = 34
height_1 = 6.2
city_1 = "New York"

name_2 = "Anna Brown"
age_2 = 23
height_2 = 5.8
city_2 = "Oklahoma"

name_3 = "Antony Blake"
age_3 = 24
height_3 = 4.9
city_3 = "Ohio"

print(f"{name_1} whose age is {age_1} years and height is {height_1} lives in{city_1}")
print(f"{name_2} whose age is {age_2} years and height is {height_2} lives in{city_2}")
print(f"{name_3} whose age is {age_3} years and height is {height_3} lives in{city_3}")

John Smith whose age is 34 years and height is 6.2 lives inNew York
Anna Brown whose age is 23 years and height is 5.8 lives inOklahoma
Antony Blake whose age is 24 years and height is 4.9 lives inOhio

### String Method

CASE: capitalize, upper, lower, swapcase

In [87]:
example = "dummy string"
print(example.capitalize())      # Upper cases the first character
print(example.upper())           # Upper cases all characters
print(example.lower())            # Lower caces all characters
print(example.swapcase())      # Changes upper cases to lower and lower cases to upper 
print(example)                        # The original String is not modified

Dummy string
DUMMY STRING
dummy string
DUMMY STRING
dummy string

JUSTIFY: center, ljust, rjust

In [88]:
print(example.center(30))
print(example.ljust(30))
print(example.rjust(30))

         dummy string
dummy string
                  dummy string

UTILITY: count, [find, rfind], [index, rindex], join, replace, [removeprefix, removesuffix], zfill

In [89]:
example = "Dummy String"

print(example.count("m"))
print(example.count("Str"))
print(example.count("vv"))

2
1
0

In [90]:
print(example.find("m"))
print(example.rfind("m"))

print(example.index("m"))
print(example.rindex("m"))

2
3
2
3

In [91]:
print(example.replace("D", "Y"))

Yummy String

In [92]:
print(example.removeprefix("D"))
print(example.removesuffix("ing"))

ummy String
Dummy Str

In [93]:
padding = "five"
print(padding.zfill(6))
print(padding.zfill(5))
print(padding.zfill(4))

00five
0five
five

In [94]:
string = "Example String With Many Elements As Arguments"
list_1 = string.split(maxsplit=2)
print(list_1)
list_2 = string.rsplit(maxsplit=2)
print(list_2)

['Example', 'String', 'With Many Elements As Arguments']
['Example String With Many Elements', 'As', 'Arguments']

In [95]:
string = "Apples,Bananas,Pastry"
list_2 = string.split(",")
print(list_2)

['Apples', 'Bananas', 'Pastry']

In [96]:
print("-".join(list_1))
print(" ".join(list_2))

Example-String-With Many Elements As Arguments
Apples Bananas Pastry

CHECKING: isalnum, isalpha, isascii, isdecimal, isdigit, isidentifier, islower, isnumeric, isprintable, isspace, istitle, isupper

In [97]:
lower = "all_lower"
identifier = "var_1"
non_identifier = "var 1"
upper = "ALL_UPPER"
pascal = "PascalCase"
camel = "camelCase"
alphabet_number = "abc123"
number = "123"
floating = "12.3"
space = "   "


print(".isupper() -> ", upper, upper.isupper())
print(".isupper() -> ", pascal, pascal.isupper())

print(".islower() -> ", lower, lower.islower())
print(".islower() -> ", camel, camel.islower())

print(".isspace() -> ", space, space.isspace())
print(".isspace() -> ", lower, lower.isspace())

print(".isidentifier() -> ", identifier, identifier.isidentifier())
print(".isidentifier() -> ", non_identifier, non_identifier.isidentifier())

print(".isalpha() -> ", pascal, pascal.isalpha())
print(".isalpha() -> ", number, number.isalpha())
print(".isalpha() -> ", upper, upper.isalpha())
print(".isalpha() -> ", lower, lower.isalpha())

print(".isalnum() -> ", alphabet_number, alphabet_number.isalnum())
print(".isalnum() -> ", number, number.isalnum())
print(".isalnum() -> ", identifier, identifier.isalnum())
print(".isalnum() -> ", non_identifier, non_identifier.isalnum())


print(".isdecimal() -> ", alphabet_number, alphabet_number.isdecimal())
print(".isdecimal() -> ", number, number.isdecimal())
print(".isdecimal() -> ", floating, floating.isdecimal())
print(".isdecimal() -> ", non_identifier, non_identifier.isdecimal())

print(".isdigit() -> ", alphabet_number, alphabet_number.isdigit())
print(".isdigit() -> ", number, number.isdigit())
print(".isdigit() -> ", floating, floating.isdigit())
print(".isdigit() -> ", non_identifier, non_identifier.isdigit())

print(".isnumeric() -> ", alphabet_number, alphabet_number.isnumeric())
print(".isnumeric() -> ", number, number.isnumeric())
print(".isnumeric() -> ", floating, floating.isnumeric())
print(".isnumeric() -> ", non_identifier, non_identifier.isnumeric())

.isupper() ->  ALL_UPPER True
.isupper() ->  PascalCase False
.islower() ->  all_lower True
.islower() ->  camelCase False
.isspace() ->      True
.isspace() ->  all_lower False
.isidentifier() ->  var_1 True
.isidentifier() ->  var 1 False
.isalpha() ->  PascalCase True
.isalpha() ->  123 False
.isalpha() ->  ALL_UPPER False
.isalpha() ->  all_lower False
.isalnum() ->  abc123 True
.isalnum() ->  123 True
.isalnum() ->  var_1 False
.isalnum() ->  var 1 False
.isdecimal() ->  abc123 False
.isdecimal() ->  123 True
.isdecimal() ->  12.3 False
.isdecimal() ->  var 1 False
.isdigit() ->  abc123 False
.isdigit() ->  123 True
.isdigit() ->  12.3 False
.isdigit() ->  var 1 False
.isnumeric() ->  abc123 False
.isnumeric() ->  123 True
.isnumeric() ->  12.3 False
.isnumeric() ->  var 1 False

## Lists

## Indexing and Slicing are Same

In [98]:
national_list = [52, 21, 2, 71, 25, 3, 16, 12, 75, 15, 8]

print(national_list[0])
print(national_list[-1])
print(national_list[:4])
print(national_list[5:])
print(national_list[3:8])

52
8
[52, 21, 2, 71]
[3, 16, 12, 75, 15, 8]
[71, 25, 3, 16, 12]

In [99]:
len(national_list)

11

### Methods

In [100]:
national_list.append(14)
print(national_list)
national_list.insert(0, 15)
print(national_list)

[52, 21, 2, 71, 25, 3, 16, 12, 75, 15, 8, 14]
[15, 52, 21, 2, 71, 25, 3, 16, 12, 75, 15, 8, 14]

In [101]:
shodesh = [10, 1]

national_list.extend(shodesh)
print(national_list)

[15, 52, 21, 2, 71, 25, 3, 16, 12, 75, 15, 8, 14, 10, 1]

In [102]:
shodesh.clear()
print(shodesh)

[]

In [103]:
deep_copy = national_list               # Deep Copy 
shallow_copy = national_list.copy()    # Shallow Copy

In [104]:
deep_copy[0] = -1500                        
print(national_list)                                # Chaning the Deep Copy changes the Original
print(deep_copy)                                 # Chaning the Deep Copy changes the Original

[-1500, 52, 21, 2, 71, 25, 3, 16, 12, 75, 15, 8, 14, 10, 1]
[-1500, 52, 21, 2, 71, 25, 3, 16, 12, 75, 15, 8, 14, 10, 1]

In [105]:
shallow_copy[0] = 50000
print(national_list)                        # Changing the Shallow Copy does not change the Original
print(shallow_copy)                      # Changing the Shallow Copy does not change the Original

[-1500, 52, 21, 2, 71, 25, 3, 16, 12, 75, 15, 8, 14, 10, 1]
[50000, 52, 21, 2, 71, 25, 3, 16, 12, 75, 15, 8, 14, 10, 1]

In [106]:
print(national_list.count(10))
print(national_list.count(600))


print(national_list.index(71))
print(national_list.index(600))

1
0
4

ValueError: 600 is not in list

In [107]:
print(national_list.remove(-1500))
print(national_list.remove(12))

print(national_list)

None
None
[52, 21, 2, 71, 25, 3, 16, 75, 15, 8, 14, 10, 1]

In [108]:
print(national_list.pop())
print(national_list.pop(1))

print(national_list)

1
21
[52, 2, 71, 25, 3, 16, 75, 15, 8, 14, 10]

In [109]:
print(national_list.reverse())

print(national_list)

None
[10, 14, 8, 15, 75, 16, 3, 25, 71, 2, 52]

In [110]:
print(national_list.sort())

print(national_list)

None
[2, 3, 8, 10, 14, 15, 16, 25, 52, 71, 75]

In [111]:
national_list.sort(reverse=True)

print(national_list)

[75, 71, 52, 25, 16, 15, 14, 10, 8, 3, 2]

## Tuples

In [4]:
national_tuple = (52, 21, 2, 71, 25, 3, 26, 12, 75, 15, 8)

In [5]:
national_tuple[0] = 11

TypeError: 'tuple' object does not support item assignment

In [6]:
len(national_tuple)

11

In [7]:
national_tuple[0]

52

In [8]:
national_tuple[4::2]

(25, 26, 75, 8)

In [10]:
print(national_tuple.count(26))
print(national_tuple.index(26))

1
6

Item swapping

In [11]:
a, b, c, d = (40, 20, 10, 30)

In [12]:
a, b, c, d = c, b, d, a

print(a, b, c, d)

10 20 30 40

## Built - in Function

In [14]:
result = min([43, 21, 6, 8])     # List
print(result)
result = min(43, 21, 6, 8)       # Raw Numbers
print(result)
result = min((43, 21, 6, 8))     # Tuple
print(result)
result = min("ManU")            # String
print(result)

6
6
6
M

In [15]:
result = max([43, 21, 6, 8])     # List
print(result)
result = max(43, 21, 6, 8)       # Raw Numbers
print(result)
result = max((43, 21, 6, 8))     # Tuple
print(result)
result = max("ManU")            # String
print(result)

43
43
43
n

In [18]:
result = sum([43, 21, 6, 8])     # List
print(result)
result = sum((43, 21, 6, 8))     # Tuple
print(result)
result = sum(43, 21, 6, 8)       # Raw Numbers
print(result)
result = sum("ManU")            # String
print(result)

78
78

TypeError: unsupported operand type(s) for +: 'int' and 'str'