## Numeric Types

In [131]:
num1 = 10                # integer
num2 = 3.1416         # float
num3 = 5 - 6j           # complex

### Type checking
`type(object)`
         - Returns the Type of the given object

In [132]:
print(type(num1))
print(type("New Jersey"))

<class 'int'>
<class 'str'>

## Numeric Operations

In [133]:
var1 = 10
var2 = 5

In [134]:
var1 + var2

15

In [135]:
var1 - var2

5

In [136]:
var1 * var2

50

In [137]:
var1 / var2         # Floating Point Division

2.0

In [138]:
var1 //  var2       # Integer Division

2

In [139]:
var1 %  var2

0

## Operator Precedence Rule: PEMDAS

In [140]:
12 - 4 / 3 * 12 % 3 + 100 - 2

109.0

In [141]:
12 - 12 % 3 * 4 / 3 + 100 - 2

110.0

## Dillema in Numeric Operations

In [142]:
1 / 3 + 1 / 3 + 1 / 3    # Output should be 0.99999

1.0

In [143]:
1 / 3 * 3             # Output should be 0.99999

1.0

In [144]:
0.2 * 3               # Output should be 0.6

0.6000000000000001

In [145]:
0.1 + 0.2           # Output should be 0.3

0.30000000000000004

# Sequence Types

### Strings

In [146]:
single = 'This is a single quote string'
double = "This is a double quote string"
triple = """This is a triple quote string""" # -> multiline string, doc string
fstring = f"This is a format string"

In [147]:
print("This is \n A new Line")
print("This is \t A Tab")

This is
 A new Line
This is 	 A Tab

In [148]:
single = 'This is \'single\' quote string'
double = "This is \"double\" quote string"
single, double

("This is 'single' quote string", 'This is "double" quote string')

In [149]:
"""This is treated as a coment"""
triple = """Writing
                A Multiline
                String
            """
print(triple)

Writing
                A Multiline
                String

Accessing elements from a string

In [150]:
string = "The Last of Us"
print(string[0])
print(string[4])
print(string[5])

T
L
a

### Lists

Creating Empty Lists

In [151]:
list_1 = list()
list_2 = []

print(list_1)
print(list_2)

[]
[]

Creating Lists with Values

In [152]:
list_1 = list([1, 2, 3, 4])
list_2 = [10, 20, 30, 40]

print(list_1)
print(list_2)

[1, 2, 3, 4]
[10, 20, 30, 40]

Accessing elements from a  list

In [153]:
print(list_1[0])
print(list_2[3])

1
40

## Tuples

Creating Empty Tuples

In [154]:
tuple_1 = tuple()
tuple_2 = ()

print(tuple_1)
print(tuple_2)

()
()

In [155]:
tuple_3 = tuple((20, 22, 28, 24))
tuple_4 = (11, 22, 33, 44, 55)

print(tuple_3)
print(tuple_4)

(20, 22, 28, 24)
(11, 22, 33, 44, 55)

In [156]:
list_2 = [10, 20, 30, 40]
tuple_4 = (11, 22, 33, 44, 55)

list_2[3] = 55
print(list_2)

[10, 20, 30, 55]

In [157]:
tuple_4[1] = -33

TypeError: 'tuple' object does not support item assignment

In [ ]:
values = (44, 27, 11)

In [ ]:
a, b, c = values
print(a, b, c)

In [ ]:
_, b, c = values
print(b, c)

In [ ]:
values = (44, 27, 11)
val_1, val_2 = values

In [ ]:
val_1, val_2, val_3, val_4 = values

## Type Conversion

Boolean Conversion

In [ ]:
print(bool(0))
print(bool("0"))
print(bool(None))
print(bool(""))
print(bool("False"))
print(bool(0.000000000000000001))
print(bool(1 / 3) )
print(bool(1 // 3))

Integer Conversion

In [ ]:
print(int(True))         # 1
print(int(False))        # 0
print(int(0.1441))      # 0
print(int(-42.761))    # -42
# int(64 - 3j)    # *ERROR*
print(int("67"))          # 67
print(int("  431  "))    # 431
print(int(" -33  "))     # -33

Floating Conversion

In [ ]:
print(float(True))          # 1.0
print(float(False))         # 0.0
print(float(12))             # 12.0
print(float(-42))           # -42.0
# float(64 - 3j)             # *ERROR*
print(float("67"))         # 67.0
print(float("  4.31  "))  # 4.31
print(float(" -3.3  "))   # -3.3

String Conversion

In [1]:
print(str(132))
print(str(-887.1))
print(str(7j))
print(str(-1.5j))
print(str(True))
print(str(False))

132
-887.1
7j
(-0-1.5j)
True
False

## Input Output

In [3]:
print("message", "message")    
print("message")
print("message")

message message
message
message

In [4]:
print("message", "message", sep="-", end="-")    
print("message", end="-")
print("message")

message-message-message-message

## Conditionals

In [1]:
if 3 > 4:
    print("3 is greater than 4")
elif 3 == 4:
    print("3 equals 4")
else:
    print("Default")

Default

In [2]:
if 3 < 4:
    print("3 is less than 4")
elif 3 == 4:
    print("3 equals 4")
else:
    print("Default")

3 is less than 4

## and & or key words

In [3]:
if 3 > 4 or 5 % 2 == 1:
    print("Or is executed")

Or is executed

In [4]:
if 4 % 2 == 0 and 3 >= 4:
    print("And is executed")
else:
    print("And is not executed")

And is not executed