# Type conversion

## Non-Iterable --> Iterable

In [5]:
list(3)

TypeError: 'int' object is not iterable

In [6]:
tuple(4.3)

TypeError: 'float' object is not iterable

### Exception: str()

In [4]:
print(str(4.3))
print(str(56))

4.3
56

## Iterable --> Non-Iterable

In [7]:
int("Some Name")    # text cannot be converted, str must only contain

ValueError: invalid literal for int() with base 10: 'Some Name'

In [8]:
float([3, 4, 5])

TypeError: float() argument must be a string or a number, not 'list'

### Exception

In [9]:
print(bool([]))
print(bool((4, 5)))
print(bool("Something"))
print(bool([44]))

False
True
True
True

## Iterable --> Iterable

In [13]:
list_1 = [20, 30, 40]
string = "Charles Xavier"
tuple_1 = (44, 11, 22)

# str -> list, tuple, dict
print(list(string))
print(tuple(string))
print(dict(string))

['C', 'h', 'a', 'r', 'l', 'e', 's', ' ', 'X', 'a', 'v', 'i', 'e', 'r']
('C', 'h', 'a', 'r', 'l', 'e', 's', ' ', 'X', 'a', 'v', 'i', 'e', 'r')

ValueError: dictionary update sequence element #0 has length 1; 2 is required

## Function

### Defining functions without parameters and return types

In [14]:
def func():
    print("Hello World!")

In [16]:
func

In [17]:
another_func = func

In [19]:
print(another_func)

<function func at 0x00000245BEB01EE0>

In [20]:
func()
another_func()

Hello World!
Hello World!

In [21]:
# This is true for built-in functions as well
my_len = len

In [22]:
my_len("ANY STRING")

10

### Functions with parameters

In [23]:
def func(name):
    print(f"Hello, {name}!")
    
func("Jason")
func("David")
func("Scarlett")

Hello, Jason!
Hello, David!
Hello, Scarlett!

### Default value is passed to the key-word argument

In [24]:
def func(name="guest"):
    print(f"Hello, {name}")

func("Jason")
func()

Hello, Jason
Hello, guest

In [26]:
# Positional arguments need to defined before key-word arguments

def func(age, name="guest"):
    print(f"Hello, {name}! Your age is {age}")

func(23, "Jason")
func(25)

Hello, Jason! Your age is 23
Hello, guest! Your age is 25

In [29]:
# For multiple key-word arguments, we can call them using the key-words, when not maintaing the sequence

def func(age, name="guest", height=5.8):
    print(f"Hello, {name}! Your age is {age}. Your height is {height}")

func(23, "Jason")
func(23, "James", 6.2)
func(25, height=4.8, name="Eric")
func(25, 4.8, "Eric")   # Notice the problem here!

Hello, Jason! Your age is 23. Your height is 5.8
Hello, James! Your age is 23. Your height is 6.2
Hello, Eric! Your age is 25. Your height is 4.8
Hello, 4.8! Your age is 25. Your height is Eric

### Returns types

In [31]:
def fun():
    print("fun function")
    
print(fun())   # by default the function returns none

fun function
None

In [32]:
# We use the return statement to return anything we want
def fun():
    print("fun function")
    return 10
print(fun())

fun function
10

In [33]:
# Any statement after return is not executed
def fun():
    print("fun  function")
    return 10
    print("last line")   # is never reached

print(fun())

fun  function
10

## map() Function

In [34]:
def square(x):
    return x * x

numbers = [2, 3, 4, 5]

square_numbers = []

for num in numbers:
    square_numbers.append(square(num))

print(square_numbers)

[4, 9, 16, 25]

In [37]:
def square(x):
    return x * x

numbers = [2, 3, 4, 5]
square_numbers = list(map(square, numbers))
print(square_numbers)

[4, 9, 16, 25]

In [41]:
mapped_obj = map(square, numbers)
print(mapped_obj)

<map object at 0x00000245BCFF3730>

In [42]:
hasattr(mapped_obj, "__next__")

True

In [43]:
string_numbers = ["10", "12", "14"]

numbers = list(map(int, string_numbers))
print(numbers)

[10, 12, 14]